<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <!-- Liên kết tới file CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login_style.css') }}">
</head>
<body>
    <form method="POST" action="/login">
        <label for="username">Tên đăng nhập:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Mật khẩu:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button id="login-btn" name="login-btn" type="submit">Đăng nhập</button>
        <button id="signup-btn" name="signup-btn" type="submit">Đăng ký</button>
        <p>{{ message }}</p>
        <a href="/">Quay lại</a>
    </form>
</body>
</html>
